.range {
  width: 100%;
  margin: 0 auto;
  padding-right: 35px;
  padding-top: 95px;
  padding-bottom: 135px;
  max-width: 973px;
  font-weight: 700;
  font-size: 200px;
  line-height: 80%;
  letter-spacing: -0.02em;
  text-align: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  cursor: default;
  z-index: 1;

  &_start {
    padding: 0;
    margin: 0;
    color: var(--font-range-start-color);
  }

  &_end {
    padding: 0;
    margin: 0;
    color: var(--font-range-end-color);
  }

  @media (width <= 1024px) {
    padding-right: 0;
    max-width: 660px;
    font-size: 140px;
  }

  @media (width < 768px) {
    padding-right: 0;
    max-width: 273px;
    font-size: 56px;
  }
}
