.navigation {
  width: 100%;
  max-width: 120px;

  @media (width < 426px) {
    max-width: 58.33px;
  }

  &_order_1 {
    margin-top: 137px;
    margin-left: 80px;
    order: 1;

    @media (width < 768px) {
      order: 2;
    }

    @media (width < 426px) {
      margin-left: 20px;
      position: absolute;
      bottom: 13.33px;
      z-index: 99;
    }
  }
}

.navigation__total {
  font-weight: 400;
  font-size: 14px;
  color: var(--font-main-color);
  margin: 0;
  padding: 0 0 20px 0;

  @media (width < 426px) {
    padding-bottom: 10.67px;
  }
}

.control_buttons {
  display: flex;
  justify-content: space-between;
}

.control_buttons__default {
  background-color: var(--bg-color);
  border: 1px solid rgba(66, 86, 122, 0.5);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.1s linear;
  padding: 0 3px 3px 0;

  &:hover {
    background-color: #fff;
  }

  &::after {
    position: absolute;
    content: "";
    border: solid var(--font-main-color);
    border-width: 0 2px 2px 0;
    width: 8px;
    height: 8px;

    @media (width < 426px) {
      border-width: 0 2px 2px 0;
      width: 5px;
      height: 5px;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;

    &:hover {
      background-color: var(--bg-color);
    }
  }

  @media (width < 426px) {
    height: 25px;
    width: 25px;
    padding: 0 1px 1px 0;
  }
}

.control_buttons__prev {
  transform: rotate(135deg);
}

.control_buttons__next {
  transform: rotate(-45deg);
}
