.main {
  font-family: "PT Sans", sans-serif;
  margin: 0 auto;
  max-width: 1440px;
  min-width: 300px;
  border-left: 1px solid var(--line-color);
  border-right: 1px solid var(--line-color);
  background: linear-gradient(var(--line-color), var(--line-color)) no-repeat center/1px 100%;

  @media (width < 426px) {
    border-left: none;
    border-right: none;
    background: none;
  }
}

.historicDates {
  position: relative;
  min-height: 1080px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  // Добавляем отступ сверху для слайдера
  & > * {
    margin-top: 0;
  }

  @media (width < 426px) {
    min-height: 0;
    padding-bottom: 13.33px;
  }
}
